<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
    <style>
      .webcam {
        width: 400px;
        height: 400px;
        border: 2px solid black;
      }
      .webcam-container {
         width: 400px;
        height: 400px;
        border: 12px solid black;
      }
    </style>
  </head>
  <body>
    <h1>Video App</h1>
    <div class="webcam-container">
         <video autoplay="true" id="Webcam" class="webcam">
	</video>
    </div>
 
  </body>
  <script>
    let video = document.querySelector('.webcam');
    console.log(video)
    if (navigator.mediaDevices.getUserMedia) {
  navigator.mediaDevices.getUserMedia({ video: true })
    .then(function (stream) {
      video.srcObject = stream;
    })
    .catch(function (err0r) {
      console.log("Something went wrong!");
    });
} else {
  console.log('GetuSermedia not supported')
}
  </script>
</html>